@page "/"

<PageTitle>Deprion</PageTitle>

<h1>Hello!</h1>

<p>
I am Deprion.
<br>I have extensive experience in C# and Unity programming.
<br>I also have commercial experience working in C++, Java, VBA and TypeScript.
</p>
<a href="/projects">My projects can be found here</a>
