@page "/projects"
@inject HttpClient Http

<PageTitle>Projects</PageTitle>

<p>List of some projects</p>

@foreach(Project pr in projects)
{
    <h1>@pr.Title</h1>

    <p>@pr.Description</p>

    if (pr.isShown)
    {
        <p>
            <button class="btn-primary" @onclick="@(() => Toggle(pr))">Minimize</button>
        </p>

        <iframe width="560" height="315" src=@(pr.Link) frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    }
    else
    {
        <p>
            <button class="btn-primary" @onclick="@(() => Toggle(pr))">Expand</button>
        </p>
    }
}

@code 
{
    private Project[] projects = new Project[]
    {
        new Project("Кто?", "https://youtube.com/embed/JITwp1C5OeM"),
        new Project("Хитрые рассказы", "https://youtube.com/embed/78_2SV0u7nU"),
        new Project("Happy Miner", "https://youtube.com/embed/h7ggMujZpZ4"),
        new Project("Lost in The Dark", "https://youtube.com/embed/kCFAZzRjh7I"),
        new Project("Corsair", "https://youtube.com/embed/jh6vyWVNXks"),
        new Project("Tree Simulation", "https://youtube.com/embed/uZGol1-xJac")
    };

    private void Toggle(Project pr)
    {
        pr.isShown = !pr.isShown;
    }
 } 